@import '../../core/var'
@import '../../core/mixin'

.mainContent-merchandisePrice--list
	.page-icon
		width 30px
		height 30px
		background url('../images/page-icon/price_30×30.png') no-repeat
		imerge page
	.select-store
		position absolute
		left 50%
		top 24px
		z-index $zindex-page - 1
		margin-left -110px