@import '../core/var'
@import '../core/mixin'

.c-btn-group
	display inline-block
	font-size 0

.c-btn
	display inline-block
	background #fff
	border 1px solid #cfcfcf
	border-radius(3px)
	text-align center
	font-size 14px
	color #6f6f6f
	cursor pointer

.c-btn--default
	width 97px
	height 32px	
	line-height 32px	

.c-btn--large
	width 97px
	height 42px	
	line-height 42px	

.c-btn--xlarge
	width 157px
	height 42px	
	line-height 42px
	
.c-btn--blue
	background #16a4fa
	border-color #16a4fa
	color #fff
	
.c-btn--small
	width 97px
	height 27px
	line-height 27px