@import '../core/var'
@import '../core/mixin'

.c-icon
	display inline-block
	vertical-align middle
	font-size 0

//edit
.c-icon-edit
	background-size 100% 100%

.c-icon-edit--default	
	width 9px
	height 10px
	
.c-icon-edit--black
	background-image url('../images/pencil_black.png')
	background-repeat no-repeat

.c-icon-edit--white
	background-image url('../images/pencil_white.png')
	background-repeat no-repeat
	
//save
.c-icon-save
	background-size 100% 100%

.c-icon-save--default
	width 16px
	height 16px

.c-icon-save--grey
	background-image url('../images/save.png')
	background-repeat no-repeat
	
.c-icon-save--large
	width 24px
	height 24px

//delete
.c-icon-delete
	background-size 100% 100%

.c-icon-delete--default	
	width 12px
	height 15px
	
.c-icon-delete--large
	width 24px
	height 31px	
	
.c-icon-delete--black
	background-image url('../images/trash_black_12×15.png')
	background-repeat no-repeat
.c-icon-delete--white
	background-image url('../images/trash_white_24×31.png')
	background-repeat no-repeat
	
//info
.c-icon-info
	background-size 100% 100%
	
.c-icon-info--default
	width 19px
	height 19px
	
.c-icon-info--grey
	background-image url('../images/sign_info_grey_20×20.png')
	background-repeat no-repeat	

//close	
.c-icon-close--small
	width 12px
	height 12px
	background url('../images/close_12×12.png') no-repeat

.c-icon-close
	width 14px
	height 14px
	background url('../images/close_14×14.png') no-repeat

.c-icon-close--large
	width 15px
	height 15px
	background url('../images/close_15×15.png') no-repeat

.c-icon-close--xlarge
	width 16px
	height 16px
	background url('../images/close_16×16.png') no-repeat
	
//triangle
.c-icon-triangle
	background-size 100% 100%

.c-icon-triangle--default
	width 10px
	height 7px
	
.c-icon-triangle--small
	width 8px
	height 3px
	
.c-icon-triangle--down--black
	background-image url('../images/triangle_down_black.png')
	background-repeat no-repeat
	
.c-icon-triangle--down--grey
	background-image url('../images/triangle_down_grey.png')
	background-repeat no-repeat
	
.c-icon-triangle--up--grey
	background-image url('../images/triangle_up_grey.png')
	background-repeat no-repeat	

//plus
.c-icon-plus
	background-size 100% 100%

.c-icon-plus--small
	width 10px
	height 10px
	
.c-icon-plus--middle
	width 11px
	height 11px
	
.c-icon-plus--blue
	background-image url('../images/sign_plus_blue_rect.png')
	background-repeat no-repeat
	
.c-icon-plus--grey
	background-image url('../images/plus_10×10.png')
	background-repeat no-repeat
	
//minus
.c-icon-minus
	background-size 100% 100%
	
.c-icon-minus--default
	width 20px
	height 20px
	
.c-icon-minus--middle
	width 11px
	height 11px
	
.c-icon-minus--red
	background-image url('../images/sign_minus_blue_rect.png')
	background-repeat no-repeat		
	
.c-icon-minus--red
	background-image url('../images/sign_minus_red_20×20.png')
	background-repeat no-repeat

//ok
.c-icon-ok 
	background-size 100% 100%
	
.c-icon-ok--default
	width 20px
	height 20px
	
.c-icon-ok--green
	background-image url('../images/sign_ok_green_20×20.png')
	background-repeat no-repeat