@import '../core/var'
@import '../core/mixin'
	
.c-table
	width 100%
	border 1px solid #dcdcdc
	th,
	td
		padding 9px
		text-align left
		color #4e4e4e
	.tr 
		text-align right
	.tc 
		text-align center
	.tl 
		text-align left				
	th
		font-weight 600
	>thead
		>tr
			background #e4e4e4			
	>tbody
		>tr:nth-child(even)
			background #eee			
		>tr:nth-child(odd)
			background #fff			
		>tr:hover
			background #3bb3fb
			td
				color #fff
			.price-unit
				color #fff
			.c-icon-edit
				background-image url('../images/pencil_white.png')
			.c-icon-delete
				background-image url('../images/trash_white_24×31.png')
		>tr.active
			background #3bb3fb
			td
				color #fff
			.c-icon-plus		
				background-image url('../images/sign_minus_blue_rect.png')

.c-table--borderLeft
	>thead
		>tr
			border-width 0 0 1px 2px
			border-style solid
			border-color #dcdcdc
	>tbody
		>tr:nth-child(even)
			border-left 2px solid #fea300
		>tr:nth-child(odd)
			border-left 2px solid #1cb09a
				
.c-table--loading
	border none
	>tbody
		>tr.loading-wrapper
			border none