//position
.pr
	position relative
.pa
	position absolute
	
//float	
.l
	float left
.r
	float right

//display	
.dn
	display none
.di
	display inline
.db
	display block
.dib
	display inline-block
	
//margin
for num in -70 -20 -15 -10 -5 0 5 10 15 20 25 30 35 40 60
	.ml{num}
		margin-left num px
	.mr{num}
		margin-right num px
	.mt{num}
		margin-top num px
	.mb{num}
		margin-bottom num px

//padding
for num in 0 5 10 15 20 25 30 35 40
	.pl{num}
		padding-left num px
	.pr{num}
		padding-right num px
	.pt{num}
		padding-top num px
	.pb{num}
		padding-bottom num px

//width
.size1of1
	width 100%
.size1of2
	width 50%
.size1of3
	width 33.33%
.size2of3
	width 66.66%	
.size1of4
	width 25%
.size2of4
	width 50%
.size3of4
	width 75%	

//background
.bgwh
	background-color #fff
.bgfb
	background #fbfbfb
.bgf5
	background #f5f5f5
	
//border
.bdc
	border 1px solid #ccc
.nbd
	border none

//text-align
.tc
	text-align center
.tl	
	text-align left
.tr
	text-align right
.tj
	text-align justify
	
//font-size
for num in 0 12 14 16 18 20
	.f{num}
		font-size num px

//color	
.g0
	color #000
.g3
	color #333
.g6
	color #666
.g9
	color #999
.gc
	color #ccc
.wh
	color white
	
//auto
.auto
	margin-left auto
	margin-right auto
	
//text-indent
.ti0
	text-indent 0
	
.ti2
	text-indent 2em
	
//text-decoration
.tdl
	text-decoration underline
.tdn 
	text-decoration none
	
//cursor
.cp
	cursor pointer