//opacity
$support-for-ie = true

//body
$font-family-base = 'microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-size-base = 75%
$line-height-base = 1.5
$text-color = #333
$body-bg = #fff

//a
$link-color = #333

//layout
$container-width = 1280px
$layout-two-left-width-s = 59px
$layout-two-left-width-l = 159px

//z-index
$zindex-page = 10
$zindex-dropdown = 1000
$zindex-modal = 1050
$zindex-backdrop = 1040