<div class="mainContent mainContent-storeManage--storeList">
	<div class="mainContent-hd">
		<div class="mainContent-hd__hd">
			<h3 class="l page-title"></i>门店管理</h3>			
		</div>
		<div class="mainContent-hd__bd"></div>		
		<p class="mainContent-hd__ft"></p>
	</div>
	<div class="mainContent-bd bge">
		<loading ng-if="loadingStatus"></loading>
		<div class="mod-boxList clearfix">
			<div class="mod-boxList__item" ng-repeat="o in storeList">
				<form class="form-horizontal">
					<div class="mod-box--second mod-box--second--red">
						<div class="mod-box--second-hd">
							<span class="name">{{ o.name }}</span>
							<span class="r">
								<a class="c-icon c-icon-edit c-icon-edit--default c-icon-edit--black" href="javascript:;" ng-click="showStoreForm(o)"></a>
								<a class="c-icon c-icon-close" href="javascript:;" ng-click="doDeleteStore(o)"></a>
							</span>						
						</div>
						<div class="mod-box--second-bd">
							<a href="/main/storeManage/equipmentList/{{ o.storeNo }}">
								<ul>
									<li class="clearfix">
										<div class="l size1of2">
											<div class="control-group">
												<label class="control-label">门店号：</label>
												<div class="controls">{{ o.storeNo }}</div>
											</div>
										</div>
										<div class="l size1of2">
											<div class="control-group control-group--right">
												<label class="control-label">设备数量：</label>
												<div class="controls"></div>
											</div>
										</div>
									</li>
									<li class="clearfix">										
										<div class="l size1of2">
											<div class="control-group">
												<label class="control-label">门店电话：</label>
												<div class="controls">{{ o.phone }}</div>
											</div>									
										</div>
									</li>
									<li class="clearfix">
										<div class="control-group">
											<label class="control-label">小票标头：</label>
											<div class="controls">{{ findStoreReceipt(o.id).head }}</div>
										</div>
									</li>
									<li class="clearfix">
										<div class="control-group">
											<label class="control-label">小票脚注：</label>
											<div class="controls">{{ findStoreReceipt(o.id).foot }}</div>
										</div>									
									</li>
									<li class="clearfix">
										<div class="control-group">
											<label class="control-label">门店地址：</label>
											<div class="controls">{{ o.address }}</div>
										</div>									
									</li>
								</ul>
							</a>				
						</div>
						<div class="mod-box--second-ft clearfix">
							<div class="l size1of2 preBox"></div>
							<div class="l size1of2 preBox"></div>
						</div>				
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>
<a class="tool-add" href="javascript:;" ng-click="showStoreForm()"></a>

<!-- 添加、编辑门店 -->
<div id="J_modal-storeForm" class="modal fade c-modal c-modal-form c-modal-form--large" role="dialog">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	      		<a class="r c-icon c-icon-close" href="javascript:;" data-dismiss="modal" aria-label="Close"></a>	      		
		        <h4 class="modal-title" ng-if="!isEditStore">添加门店</h4>
		        <h4 class="modal-title" ng-if="isEditStore">编辑门店</h4>
	      	</div>
	   		<div class="modal-body clearfix">
	   			<form class="form-horizontal" name="storeForm" ng-value="storeForm = storeForm" ng-keyup="doSaveStore(store, $event)">
	   				<div class="form-row">
						<div class="control-group">
							<label class="control-label">门店名称</label>
							<div class="controls">
								<input class="c-input c-input--middle" type="text" name="name" ng-model="store.name" ng-maxlength="45" required />
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.name.$dirty && storeForm.name.$error.required">
									门店姓名不能为空
									<i class="triangle-down"></i>
								</span>
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.name.$dirty && storeForm.name.$error.maxlength">
									门店姓名不能超过45个字符
									<i class="triangle-down"></i>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">门店号</label>
							<div class="controls">
								<input class="c-input c-input--middle" type="text" name="storeNo" ng-model="store.storeNo" required />
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.storeNo.$dirty && storeForm.storeNo.$error.required">
									门店号不能为空
									<i class="triangle-down"></i>
								</span>								
							</div>
						</div>
	   				</div>
	   				<div class="form-row">
						<div class="control-group">
							<label class="control-label">门店电话</label>
							<div class="controls">
								<input class="c-input c-input--middle" type="text" name="phone" ng-model="store.phone" />
							</div>
						</div>
						<!-- <div class="control-group">
							<label class="control-label">设备数量</label>
							<div class="controls">
							</div>
						</div> -->
	   				</div>
	   				<div class="form-row">
						<div class="control-group">
							<label class="control-label">小票标头</label>
							<div class="controls">
								<textarea class="c-textarea c-textarea--large" name="head" ng-model="store.head" ng-maxlength="200"></textarea>
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.head.$dirty && storeForm.head.$error.maxlength">
									小票标头不能超过200个字符
									<i class="triangle-down"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">	
						<div class="control-group">
							<label class="control-label">小票脚注</label>
							<div class="controls">
								<textarea class="c-textarea c-textarea--large" name="foot" ng-model="store.foot" ng-maxlength="200"></textarea>
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.foot.$dirty && storeForm.foot.$error.maxlength">
									小票脚注不能超过200个字符
									<i class="triangle-down"></i>
								</span>
							</div>
						</div>
	   				</div>
	   				<div class="form-row">	
						<div class="control-group">
							<label class="control-label">门店地址</label>
							<div class="controls">
								<textarea class="c-textarea c-textarea--large" name="address" ng-model="store.address" ng-maxlength="45"></textarea>
								<span class="c-help c-help-block c-help-block--tooltip" ng-if="storeForm.address.$dirty && storeForm.address.$error.maxlength">
									门店地址不能超过45个字符
									<i class="triangle-down"></i>
								</span>
							</div>
						</div>
	   				</div>   				
	   			</form>
		    </div>
		    <div class="modal-footer">
		    	<div class="c-btn-group">
		    		<a class="c-btn c-btn--small c-btn--blue" ng-click="doSaveStore(store)">确定</a>
		        	<a class="ml5 c-btn c-btn--small" data-dismiss="modal">取消</a>
		    	</div>
		    </div>
	    </div>
	</div>
</div>