@import '../../core/var'
@import '../../core/mixin'

.mainContent-memberManage--memberList	
	.mod-box--second-bd
		.cash
			display inline-block
			margin 34px 10px 0 0
			font-size 24px
			color #16a4fa
	.mod-box--second-ft
		>.c-btn-group
			display block
			padding 13px 10px 14px
			text-align center
			>.c-btn
				margin-left 28px 
				&:first-child
					margin-left 0
		.control-group
			margin 6px 0 6px 9px
			height 49px
		.control-label
			width 60px
			text-align left
		.controls
			margin-left 60px
		.c-icon-info
			margin-right 3px
			
	.mod-box-add--first
		height 268px
			
.mod-box--second--male
	.mod-box--second-bd
		background url('/images/bg_member_male.png') no-repeat 50% 50%

.mod-box--second--female
	.mod-box--second-bd
		background url('/images/bg_member_female.png') no-repeat 50% 50%
		
.member-amount
	color #a4a4a4
	em
		margin-left 15px
	&:nth-child(2)		
		margin-left 65px		
		