@import '../../core/var'
@import '../../core/mixin'
	
.mainContent-merchandiseManage--add
	.role-tooltip
		top -31px
	.store-tooltip
		top -17px
		
//选择角色		
.availabel-role-list
	margin-top 33px
	li
		margin-top 13px
		cursor pointer
		&:first-child
			margin-top 25px
	.checked
		.role-name
			color #4e4e4e
	.role-name
		display inline-block
		margin-left 12px
		width 82px
		font-size 14px
		color #9f9f9f
	.role-description
		color #adadad
	.c-radio
		vertical-align -3px
				
//选择门店		
.available-store-list
	margin-top 20px
	li 
		float left
		margin-top 13px
		font-size 14px
		color #9f9f9f
		cursor pointer	
	.checked
		color #4e4e4e
	.store-name
		margin-left 11px
	.c-checkbox
		vertical-align -4px
		
		