@import '../../core/var'
@import '../../core/mixin'

.mainContent-staffManage--list
	.page-icon
		width 31px
		height 29px
		background url('../images/page-icon/staff_31×23.png') no-repeat
		imerge page
	.mod-box--second-bd
		padding 0 7px 20px
		height 132px
		.control-group
			margin-top 13px
			height auto
			line-height 1.5
		.control-label
			width 37px
		.controls
			margin-left 37px
		.description
			margin-top 8px				
			color #adadad