@import '../core/var'
@import '../core/mixin'

.paymentCat-wrapper	
	margin 0 auto
	padding-bottom 5px
	width 222px
	background url('../images/bg_bottom_triangle.png') no-repeat center bottom
	border-width 0 1px
	border-style solid
	border-color #c9c9c9
.paymentCat
	padding 0 15px
	background-color #fff
.paymentCat-hd	
	height 45px	
	line-height 45px
	text-align center
	font-size 14px
.paymentCat-bd	
	border-top 1px dashed #9c9c9c
	.row
		padding 0 15px
		height 35px
		line-height 35px
		&:first-child
			border-bottom 1px dashed #9c9c9c
	.layout-left
		width 81px
		float left
		text-align left
	.layout-right
		margin-left 81px		
		text-align right			
.paymentCat-ft
	padding-top 15px
	height 35px
	border-top 1px dashed #9c9c9c