@import '../../core/var'
@import '../../core/mixin'

.mainContent-storeManage--addEquipment	
	.btn-copy
		margin 7px 0 0 37px
	.mod-box-copy--first,
	.mod-box-add--second
		display inline-block
		width 234px
		height 105px