@import '../../core/var'
@import '../../core/mixin'

.mainContent-storeManage--equipmentList	
	.mod-box--second-bd	
		padding-bottom 28px
	.mod-box-add--first
		height 190px	

.mod-box--second-hd		
	.equipment-title
		font-size 0
		.c-icon
			margin-right 10px
			vertical-align -5px
.equipment-name
	font-size 14px