@import '../../core/var'
@import '../../core/mixin'

.mainContent-storeManage--storeList	
	.mod-box--second-bd
		background url('/images/bg_store.png') no-repeat 50% 50%
	.mod-box--second-ft
		padding 3px 0
		height 26px 
		line-height 26px
		.preBox
			text-align center
			&:first-child
				margin-left -1px
				border-right 1px solid #dcdcdc
	.mod-box-add--first
		height 278px
