<div class="login-overlay">
	<div class="login-box">	
		<h1 class="login-logo">
			<img src="{{qhConfig.staticUrl}}/images/logo.png" width="64" height="63" />
			<span class="login-store-name">Store Name</span>
		</h1>
		<form class="form-horizontal login-form" name="login" ng-value="loginForm = login">
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls pr">
					<span class="login-input-group login-input-group--account">
						<input class="input-text" ng-model="user.account" type="text" name="uaccount" placeholder="用户名" required/>
					</span>
					<span class="help-inline--tooltip-wrapper" ng-if="login.uaccount.$dirty && login.uaccount.$error.required">
						<span class="help-inline--tooltip">
							<span class="help-inline--tooltip-inner">
								用户名不能为空
							</span>
						</span>
					</span>					
				</div>
			</div>
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls pr">
					<span class="login-input-group login-input-group--password">
						<input class="input-text" ng-model="user.password" type="password" name="upassword" placeholder="密码" required />
					</span>
					<span class="help-inline--tooltip-wrapper" ng-if="login.upassword.$dirty && login.upassword.$error.required">
						<span class="help-inline--tooltip">
							<span class="help-inline--tooltip-inner">
								密码不能为空
							</span>
						</span>
					</span>
				</div>
			</div>
			<div class="control-group control-group--remember">
				<label class="control-label"></label>
				<div class="controls">
					<span class="login-remember" ng-click="doRememberLogin()">
						<i class="c-checkbox c-checkbox--large" ng-class="{'c-checkbox--checked--grey': isRememberLogin, 'c-checkbox--unchecked--grey': !isRememberLogin}"></i>
						记住此次登录
					</span>
				</div>
			</div>
			<div class="control-group control-group--btn">
				<div class="controls">
					<a class="c-btn login-btn" href="javascript:;" ng-click="doLogin(user)">登录</a>
				</div>
			</div>
		</form>	
	</div>
	<p class="copyright">Copyright © 2015 QIHENG  启衡版权所有</p>
</div>
