<div class="container">
	<div class="layout-two">
		<div id="J_sidebar" class="layout-two--left">
			<a class="logo" href="">Store Name</a>
			<ul class="sidebar-nav">
				<li class="sidebar-nav__item {{ nav.className }}" ng-class="{'active': $state.includes(nav.includeState)}" ng-repeat="nav in navList">
					<a ui-sref="{{ nav.state }}"><i class="c-icon"></i>{{ nav.name }}</a>
				</li>
			</ul>
			<a id="J_sidebar-control" class="btn-sidebar" href="javascript:;"></a>
		</div>
		<div class="layout-two--right">
			<div class="ui-view"></div>
		</div>
	</div>
</div>
<div class="footer">
	<p class="copyright">Copyright © 2015 QIHENG  启衡版权所有</p>
</div>
<a id="J_goTop" class="tool-goTop" href="javascript:;"></a>
<script src="../../scripts/fx.js"></script>