@import '../../core/var'
@import '../../core/mixin'

.login-overlay
	position fixed	
	width 100%
	height 100%	
	background-color #3bb3fb	
	.copyright
		margin-top 113px	
		color #fff

.login-box
	position fixed
	left 50%
	top 50%
	margin -215px 0 0 -200px
	width 400px
	height 430px
	background-color #fff
	border-radius(3px)
	box-shadow(0 0 10px 10px #36a4e5)

.login-logo
	margin 54px 0 0
	height 63px
	line-height 63px
	text-align center
	font-size 0	
	img 
		display inline-block
		margin-right 35px
		vertical-align top

.login-store-name
	font-family arial
	font-size 30px
	color #3bb3fb
	
.login-form
	margin 45px 59px 63px	
	.control-group
		margin-top 20px		
	.control-group--remember
		margin-top 22px
	.control-group--btn
		margin-top 25px
		text-align center
	.controls
		font-size 0
	
.login-input-group
	display inline-block
	padding-left 47px
	width 235px
	border-bottom 1px solid #b2b2b2
	.input-text
		width 100%
		height 34px
		background none
		border none
		line-height 34px
		font-size 18px
		color #b2b2b2
.login-input-group--account
	background url('../../../images/account.png') no-repeat 5px
.login-input-group--password
	background url('../../../images/password.png') no-repeat 5px
		
.login-remember
	font-size 14px
	color #bcbcbe
	cursor pointer
	.c-checkbox
		margin-right 11px
		
.login-btn
	width 279px
	height 34px
	background #3bb3fb
	border none
	border-radius(0)
	line-height 34px
	font-weight 600
	font-size 14px
	color #fff
	
//help-inline--tooltip
.help-inline--tooltip-wrapper
	position absolute
	left 367px
	top 0
	z-index $zindex-page
	padding-left 6px	
	background url('../../../images/tooltip-l.png') no-repeat left top	
.help-inline--tooltip,
.help-inline--tooltip-inner
	display inline-block
.help-inline--tooltip
	padding-right 2px
	background url('../../../images/tooltip-r.png') no-repeat right top
.help-inline--tooltip-inner
	padding 0 16px
	width 140px
	height 35px
	background #fff
	line-height 35px
	font-size 18px
	color #ce0000	