@import '../../core/var'
@import '../../core/mixin'

.sidebar--on 
	width $layout-two-left-width-l
.sidebar--off
	width $layout-two-left-width-s
	.logo 
		font-size 0
		
.btn-sidebar
	margin 100px 10px 0 0
	display block
	height 64px
.btn-sidebar--on
	background url('../images/slide_on.png') no-repeat right 50%	
.btn-sidebar--off
	background url('../images/slide_off.png') no-repeat right 50%
		
.logo
	display block
	padding-left 52px			
	height 49px
	background url('../images/logo_s.png') no-repeat 15px #16a4fa
	line-height 49px
	text-align left
	font-family arial
	font-size 18px
	color #fff
	white-space nowrap
		
.sidebar-nav	
	.active
		a
			background-color #1a191a
			border-left 2px solid #16a4fa

.sidebar-nav__item	
	a
		display block
		padding-left 19px
		height 40px
		border-left 2px solid rgba(0,0,0,0)
		line-height 40px
		color #cbcdce
		cursor pointer
		white-space nowrap		
		&:hover
			background-color #1a191a
			border-left 2px solid #16a4fa
		.c-icon
			margin-right 24px				
			width 26px				

.sidebar-nav__item--merchandiseManage
	a
		.c-icon			
			height 17px
			background url('../images/nav/manager_grey_20×17.png') no-repeat
			imerge nav
	&:hover
		.c-icon
			background url('../images/nav/manager_white_20×17.png') no-repeat
			imerge nav

.sidebar-nav__item--merchandiseManage.active
	a 
		.c-icon
			background url('../images/nav/manager_white_20×17.png') no-repeat
			imerge nav
		
.sidebar-nav__item--merchandisePrice
	a
		.c-icon			
			height 23px
			background url('../images/nav/price_grey_22×23.png') no-repeat
			imerge nav	
		&:hover
			.c-icon
				background url('../images/nav/price_white_22×23.png') no-repeat
				imerge nav

.sidebar-nav__item--merchandisePrice.active
	a
		.c-icon
			background url('../images/nav/price_white_22×23.png') no-repeat
			imerge nav
					
.sidebar-nav__item--storeManage
	a
		.c-icon			
			height 22px
			background url('../images/nav/store_grey_22×22.png') no-repeat
			imerge nav
		&:hover
			.c-icon
				background url('../images/nav/store_white_22×22.png') no-repeat
				imerge nav

.sidebar-nav__item--storeManage.active
	a 
		.c-icon
			background url('../images/nav/store_white_22×22.png') no-repeat
			imerge nav

.sidebar-nav__item--memberManage
	a
		.c-icon			
			height 17px
			background url('../images/nav/member_grey_24×17.png') no-repeat
			imerge nav
		&:hover
			.c-icon
				background url('../images/nav/member_white_24×17.png') no-repeat
				imerge nav

.sidebar-nav__item--memberManage.active
	a
		.c-icon
			background url('../images/nav/member_white_24×17.png') no-repeat
			imerge nav
			
.sidebar-nav__item--staffManage
	a
		.c-icon			
			height 20px
			background url('../images/nav/staff_grey_26×20.png') no-repeat
			imerge nav
		&:hover
			.c-icon
				background url('../images/nav/staff_white_26×20.png') no-repeat
				imerge nav

.sidebar-nav__item--staffManage.active
	a
		.c-icon
			background url('../images/nav/staff_white_26×20.png') no-repeat
			imerge nav

.toolbar
	position fixed
	right 10px
	bottom 50px
	z-index $zindex-page
	display none
	width 36px
.tool-add,
.tool-goTop	
	display block
	width 36px
	height 36px
.tool-add
	background url('../images/sign_plus_blue.png') no-repeat	
.tool-goTop	
	background url('../images/sign_arrow_up_green.png') no-repeat