@import '../../core/var'
@import '../../core/mixin'

.mainContent-merchandiseManage--add				
	.c-dropdown--cat
		width 269px
		.c-dropdown-menu
			width 267px			
	.c-dropdown--tare
		display inline-block
		width 269px
		.c-dropdown-menu
			width 267px
	.tare-mapping-name
		margin-left 15px
		font-size 14px
		color #999