@import '../../core/var'
@import '../../core/mixin'

.mainContent-merchandiseManage--list
	.page-icon
		width 32px
		height 27px
		background url('../images/page-icon/manager_32×27.png') no-repeat
		imerge page
		vertical-align text-bottom